
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header{
    width: 100%;
    height: $header-height;
    box-sizing: border-box;
    z-index: 10;
    transition: all 0.5s ease-in;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem  ;
    transition: all 0.5s ease-in;

    &.show{
        display: flex;
    }

    &.hide{
        display: none;
    }

    &-main--logo{
        font-size: 3rem;
        color: white;
        margin: auto;
        margin-left: 3rem;
        position: relative;
        transform: translateY(3px);

        &-primary{
            position: absolute;
            top: 5px;
            left: 32px;
            font-family: $font-roboto;
            font-size: 1.3rem;
            padding: 0.1rem 0.5rem;
            color: $color-primary;
            background-color: white;
            border-radius: 3px;
            font-weight: 600;
            letter-spacing: .2px;
        }
        &-secondary{
            display: inline;
        }

        &-secondary{
            font-family: 'Pacifico', cursive;
        }
    }

}

.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: #f4f2f2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: #f0eeee;

        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: #999;

        }

    }

    &__input:focus + &__button{
        background-color: #f0eeee;
    }

    &__button{
        border: none;
        background-color: #f4f2f2;

        &:focus{
            outline: none;

        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        fill: #999;
        cursor: pointer;
    }
}

.user-nav{
    display: flex;
    align-items: stretch;
    align-self: stretch;
    border-right: 1px solid rgb(165, 165, 165);
    padding-right: 0rem;
    margin-left: auto;

    & > *{
        .MuiSvgIcon-root{
            color: rgb(228, 228, 228);
            font-size: 2.6rem;
        }
        margin-right: 1rem;
        min-width: 4rem;
        cursor: pointer;
        padding: 0 2rem;
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    &__icon-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(228, 228, 228);
    }

    & > *:hover{
        .MuiSvgIcon-root{
            color: white
        }
        // span{
        //     color: white;
        // }

        .user-nav__user-name{
            color: white
        }

    }

    .user-nav__user{
        display: flex;
        align-self: center;
        margin-right: 1rem;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    
        &-photo{
            height: 3.2rem;
            border-radius: 50%;

            &:hover{
                box-shadow:0 0 0 2px rgba(255, 255, 255, 0.692);
            }
        }
    }
    
}

.active_tab{
    position: relative;
        
    &::after{
        content: '';
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        // border-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: ease all 0.3s;
        transform: translateX(-50%);
        animation: border-fill .3s 1 ease;
        animation-fill-mode: backwards;

        @keyframes border-fill {
            0%  { width: 0; }
            100% { width: 100%; }
        }
    }



    .MuiSvgIcon-root{
        color: white;
    }
}

.user-nav__user__menu{
    position: absolute;
    top: 45px;
    right: 0;
    width: 28rem;
    // height: 50rem;
    height: max-content;
    background-color: white;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding-bottom: 1rem;

    &::before{
        content: '';
        position: absolute;
        top: -10px;
        right: 25px;
        width: 2rem;
        height: 1rem;
        background-color: white;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    }

    .nav-menu__profile{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        padding-bottom: .5rem;
        // z-index: 1000;

        &__details{
            display: flex;

            img{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 1.5rem;
                margin-bottom: 1rem;
                box-shadow: 0px 0px 3px 1px rgb(207, 207, 207);
                border: 2px solid white;
            }

            .div-child-1{
                display: flex;
                flex-direction: column;

                .span-child-1{
                    margin-top: .3rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    margin-bottom: .5rem;
                    color: black;
                }

                .span-child-2{
                    margin-bottom: 1rem;
                    color: rgb(129, 129, 129);
                }
            }
        }

        &__button{
            width: 100%;
            
            .MuiButton-root{
                width: 100%;
                color: rgb(49, 49, 49);

                .MuiButton-label{
                    color: rgb(100, 100, 100);
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-family: $font-family-primary;
                }

                &:hover{
                    .MuiButton-label{
                        color: $color-primary
                    }
                }
            }
        }
    }

    ul{
        list-style: none;
        width:100%;
        display: flex;
        flex-direction: column;

        li{
            padding: 1rem;
            padding-left: 2rem;
            font-size: 1.4rem;
            display: flex;

            &.nav-menu__heading{
                font-weight: 600;
                background-color: rgb(235, 235, 235);
                border-top: 1px solid rgb(201, 201, 201);
                border-bottom: 1px solid rgb(201, 201, 201);
                margin-bottom: .5rem;
                margin-top: .5rem;
                font-size: 1.5rem;
            }

            &.nav-menu__item{
                color: rgb(80, 80, 80);
                &:hover{
                    background-color: rgb(236, 236, 236);
                    color: black;
                }
            }

            &.log-out{
                &:hover{
                    background-color: rgb(255, 228, 228);
                }
            }


        }
    }
}

.nav-button{
    margin-left: auto;
    margin-right: auto;
}

.user-nav__icon-box.app-icon{
    margin-right: auto;
    margin-left: 1rem;

    .MuiSvgIcon-root{
        color: rgb(228, 228, 228);
        font-size: 3.2rem;
    }
}

.MuiBadge-badge{
    font-size: 1rem !important;
}