*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    height: 100vh;
    // overflow: hidden;
    font-family: $font-family-primary;
}

.btn{
  border: none;
  outline: none;
  padding: .75rem 1.25rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 1px 2px $color-shadow;
  transition: all .2s ease;
  background-color: white;
  color: $color-primary;
}

.btn:focus,
.btn:active{
  outline: none;
  box-shadow: 1px 1px 5px $color-shadow;
  transform: translateY(-1px);
}



/* width */
::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: .8rem;
    z-index: 1;
  }

  ::-webkit-scrollbar:hover {
    width: 1rem;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00000057;
    border-radius: 50px;
    // width: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.472);
}

input[type=date]{
    &::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}


//notistack
.MuiSnackbarContent-message{
  font-size: 1.2rem;
}

.round{
  border-radius: 50%;
}

.semi-round{
  border-radius: 10px;
}

.image{
  object-position: center;
  object-fit: cover;
}

.flex{
  display: flex;

  &.center{
    align-items: center;
  }
}

.flex-column{
  display: flex;
  flex-direction: column;

  &.center{
    align-items: center;
  }
}

.size-1-2{
  font-size: 1.2rem;
}
.size-1-4{
  font-size: 1.4rem;
}
.size-1-6{
  font-size: 1.6rem;
}
.size-1-8{
  font-size: 1.8rem;
}
.size-2-0{
  font-size: 2rem;
}
.size-2-2{
  font-size: 2.2rem;
}
.size-2-4{
  font-size: 2.4rem;
}
.size-2-8{
  font-size: 2.8rem;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.font-black{
  color: black;
}

.font-light{
  color: rgb(161, 161, 161);
}

.weight-400{
  font-weight: 400;
}

.weight-500{
  font-weight: 500;
}

.weight-600{
  font-weight: 600;
}

.padding-1{
  padding: 1rem;
}

.padding-2{
  padding: 2rem;
}

.margin-bottom-half{
  margin-bottom: .5rem;
}

.margin-bottom-1{
  margin-bottom: 1rem;
}

.margin-bottom-2{
  margin-bottom: 2rem;
}

.margin-bottom-3{
  margin-bottom: 3rem;
}

.mid-dot-divider{
  color: rgb(185, 185, 185);
}

.portal-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

