*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    height: 100vh;
    // overflow: hidden;
    font-family: $font-family-primary;
}

.btn{
  border: none;
  outline: none;
  padding: .75rem 1.25rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 1px 2px $color-shadow;
  transition: all .2s ease;
  background-color: white;
  color: $color-primary;
}

.btn:focus,
.btn:active{
  outline: none;
  box-shadow: 1px 1px 5px $color-shadow;
  transform: translateY(-1px);
}



/* width */
::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: .8rem;
    z-index: 1;
  }

  ::-webkit-scrollbar:hover {
    width: 1rem;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00000057;
    border-radius: 50px;
    // width: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.472);
}

input[type=date]{
    &::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}

.MuiPaper-root{
  font-size: 1.4rem;
}

.MuiSnackbarContent-message{
  font-size: 1.2rem;
}

