*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    height: 100vh;
    overflow: hidden;
    font-family: $font-family-primary;
}

.btn{
  border: none;
  outline: none;
  padding: .75rem 1.25rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 1px 2px $color-shadow;
  transition: all .2s ease;
  background-color: white;
  color: $color-primary;
}

.btn:focus,
.btn:active{
  outline: none;
  box-shadow: 1px 1px 5px $color-shadow;
  transform: translateY(-1px);
}



/* width */
::-webkit-scrollbar {
    width: 0px;
    position: absolute;
  }

  ::-webkit-scrollbar:hover {
    width: 7px;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c0c0c0; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a2a2a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    width: 10px;
}

input[type=date]{
    &::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    &::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
        color: transparent;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}


