.body-container{
    width: 100%;
    display: flex;
    position: relative;
    // grid-template-columns: repeat(12, minmax(min-content, 1fr));
    // justify-items: center;
    
    background: rgba($color-primary,0.05);
    overflow: hidden;
    margin-top: 60px;
    justify-content: space-around;
    max-height: calc(100vh - 60px);
}

.sidebar-container{
    // grid-column: 1 / 4;
    // height: 90vh;
    // overflow-y: scroll;
    // position: fixed;
    // top: calc(60px + 3rem);
    // left: 5%;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: calc(100vh - 60px);
    padding-left: 3rem;
    padding-top: 3rem;
    flex: 0 0 20%;

    &::-webkit-scrollbar {
        width: 0px;
        display: none;
    }
}
.content-container{
    // grid-column: 4 / 10;
    padding: 0 2rem;
    flex: 0 0 70%;
    position: sticky;
    position: -webkit-sticky;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;

    &__left{
        flex: 0 0 65%;
    }

    &__right{
        margin-right: -2rem;
    }
}
