.content-container__left{
    &-helper-text{
        display: flex;
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        color: rgb(99, 99, 99);
    }
}

.club-card{
    display: flex;
    // display: block;
    align-items: center;

    .link{
        display: flex;
    }

    .MuiAvatar-root{
        width: 10rem;
        height: 10rem;
        // float: left;
    }

    img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 0 0px 1px rgb(216, 216, 216);
    }

    &__content{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        // margin-left: 1.5rem;
    }

    &__name{
        // display: block;
        display: flex;
        color: black;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    &__desc{
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: rgb(165, 165, 165);
        margin-bottom: 1rem;
    }

    &__details{
        color: rgb(172, 172, 172);
        font-size: 1.4rem;
        display: inline-flex;
    }
}

.content-container__right{
    width: 100%;

    .MuiButton-root{
        font-size: 1.4rem;
        width: 85%;
        display: flex;
        align-items: center;
        text-transform: none;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    // .club-footer{
    //     width: 100%;
    // }
}

.request-club-card__wrapper{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-club-card{
    width: 50rem;
    background-color: white;
    padding: 2rem;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.315);

    &__header{
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;

        span{
            margin-right: auto;
        }
    }

    &__tile{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;

        .MuiInputBase-root{
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }

    &__title{
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__helper{
        font-size: 1.2rem;
        color: rgb(141, 141, 141);
        margin: .5rem 0;
    }

    .MuiButton-root{

        font-size: 1.4rem;
        text-transform: capitalize;

    }
}