.joinus-page{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: rgba($color-primary, 0.1);
    position: relative;
    // top:0;
    // left: 0;
    display: block;
    overflow: hidden;

    .join-us__form{
        width: 100%;
        height: 95vh;
        position: relative;
        // display: block;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            position: absolute;
            right: 10%;
            bottom: 10rem;
            width: 80%;
            opacity: 0.6;
        }

        .form-container__joinus{
            width: 35rem;
            // height: 100%;
            height: max-content;
            position: relative;
            // top: 5rem;
            // left: 50%;
            transform: translateY(1.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}