.login-form{

    
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba($color-primary, 0.1);
    text-align: center;

    

    .image-container{
        width: 50%;
        height: 80vh;
        position: relative;
        padding-top: 10vh;

        &-heading{
            width: 100%;
            height: 15vh;
            font-size: 6rem;
            font-weight: 600;
            text-align: center;
            color: $color-primary;
            letter-spacing: 0.2rem;
        }

        &-image{
            position: absolute;
            right: -53.5rem;
            bottom: 19.2rem;
            width: 100%;
            height: 60vh;
            

            img{
                width: 121%;
                //height: 90vh;
            }
        }
    }

    &--container{
        width: 25%;
        height: 75vh;
        position: absolute;
        top: 15%;
        right: 18%;
        text-align: center;
        background: white;
        border-radius: 2rem;
    
        .form-heading{
            width: 80%;
            height: 10rem;
            font-size: 3.5rem;
            color: $color-primary;
            font-weight: 600;
            margin-top: 2rem;
            padding-left: 4rem;
            text-align: left;
            display: block;
            //text-transform: uppercase;

            &-secondary{
                margin-top: 1rem;
                display: block;
                font-size: 1.3rem;
                color: black;
                font-weight: 500;

                .link{
                    text-decoration: none;
                    color: $color-primary;
                    font-weight: 600;
                }
            }

            .divider{
                width: 5rem;
                height: .5rem;
                margin-top: 1rem;
            }
        }

        .user-field{
            width: 80%;
            height: 6.5rem;
            text-align: left;
            margin: 0 auto;
            display: block;
            position: relative;
            transition: all 0.2s ease;
            margin-top: 1rem;

            .password-show{
                position: absolute;
                right: 1.3rem;
                top: 1rem;
                width: 2.5rem;
                cursor: pointer;
                z-index: 1000;

                img{
                    width: 3rem;
                    position: relative;
                }

            }


            &--label{
                color: black;
                position: absolute;
                left: 1rem;
                top: 1rem;
                font-size: 2rem;
                font-family: $font-family-primary;
                font-weight: 500;
                transition: all 0.2s ease;
                z-index: 10;

                &.touched{
                    transform: translate( -1.4rem , -1.1rem) scale(0.7);
                    color: $color-black-smooth;
                }

            }

            &--value,
            input{
                width: 100%;
                height: 5rem;
                border: 0.1rem solid black;
                border-radius: 0.3rem;
                outline: none;
                padding-left: 1rem;
                padding-top: 1.5rem;
                color: black;
                font-size: 2rem;
                z-index: 100;
                position: relative;
                background: transparent;
                font-family: $font-family-secondary;
                box-sizing: border-box;

                &.touched{
                    border: 0.2rem solid rgb(43, 184, 43);
                }

                &.error{
                    border-color: red;
                }
        
                &-error{
                    position: absolute;
                    right: 0;
                    color: red;
                    font-size: 1.2rem;
                    display: block;
                    font-family: $font-family-primary;
                }
            }

            
        }

        .input-field.checkbox{
            width: 80%;
            margin-left: 10%;
            height: 5rem;
            font-size: 1.5rem;
            font-family: $font-family-primary;
            position: relative;
            color: $color-black-smooth;
            cursor: pointer;
            padding-left: 0.5rem;

            label{
                left: 0rem;
                display: inline-block;
            }
            
        }

        .input-field--checkbox,
        input[type="checkbox"]{
            position: absolute;
            left: -1rem;
            top: 0.2rem;
            z-index: 100;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            opacity: 0;

        }



        .password-reset-link{
            margin-right: 10%;
            text-align: right;
            display: inline-block;
            margin-left: 10%;
            padding: 0.5rem 1rem;
            font-weight: 600;
            border-radius: 0.3rem;
            font-size: 1.5rem;
            text-decoration: none;
            cursor: pointer;
            color: black;

            &:hover{
                color: $color-primary;
                background: rgba($color-primary, 0.1);
            }
        }
        
        button{
            margin-top: 2rem;
            margin-bottom: 3rem;
            width: 80%;
            height: 4rem;
            border-radius: 0.3rem;
            color: $color-white;
            font-size: 2rem;
            font-family: $font-family-primary;
            background: $color-primary;
            font-weight: 600;
            outline: none;
            border: none;
            display: block;
            margin-left: 10%;
            cursor: pointer;

            &:hover{
                background: rgba($color-primary, 0.8);
            }
        }
    }
}