
.signup-page{
    width: 100%;
    height: 100vh;
    background: rgba($color-primary, 0.1);
    position: relative;

    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height:60rem;

        .left-floated{
            width: 45%;
            height: 90%;
            margin-top: 3rem;
            background-image: linear-gradient(to right, rgba($color-black-smooth, 0.8), rgba($color-black-smooth, 0.575)), url(../../images/signup.jpg);
            background-size: cover;
            background-position: right;
            float: left;
            position: relative;
            box-sizing: border-box;
            padding: 3rem;
            padding-left: 2rem;

            .page-heading{
                font-size: 4rem;
                color: $color-white;
                font-family: $font-family-primary;
                font-weight: 600;
                letter-spacing: 0.1rem;
            }
            .divider{
                margin-top: 0.5rem;
                background: $color-white;
                width: 8rem;
            }

            .page-footer{
                position: absolute;
                left: 50%;
                bottom: 3rem;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;

                .terms-link{
                    color: $color-white;
                    text-decoration: underline;
                    letter-spacing: 0.2rem;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    font-family: $font-family-primary;
                    display: block;
                    padding-bottom: 1rem;
                }
            }

        }

        .right-floated{
            width: 55%;
            height: 100%;
            background: $color-white;
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            box-shadow: 0 0.5rem 0.5rem $color-shadow;

            .progress-bar{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 0.6rem;
                background: rgb(173, 173, 173);

                .progress{
                    background: $color-primary;
                    height: 100%;
                    float: left;
                    margin: 0;
                }
            }

            .form-container{
                width: 80%;
                margin-left: 10%;

                .disabled-field{
                    background: red;
                }

                .form-heading{
                    padding-top: 3rem;
                    font-size: 2rem;
                    font-family: $font-family-primary;
                    color: $color-primary;
                    font-weight: 600;
                    padding-bottom: 3rem;

                    .divider{
                        margin-top: 0.5rem;
                        width: 6rem;
                        height: 0.4rem;
                    }
                }

                

                .input-field{
                    width: 100%;
                    height: 6rem;
                    text-align: left;
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    transition: all 0.2s ease;

                    &:nth-child(1){
                        margin-right: 1.5rem;
                    }

                    &:nth-child(1),
                    &:nth-child(2){
                        width: calc((100% - (1.5rem))/2);
                        display: inline-block;
                        position: relative;
                    }

                    &--label{
                        color: $color-font;
                        position: absolute;
                        left: 1rem;
                        top:0.4rem;
                        font-size: 1.7rem;
                        font-family: $font-family-primary;
                        transition: all 0.2s ease;
                        z-index: 10;

                        &.touched{
                            transform: translate( -1.5rem , -2.5rem) scale(0.8);
                            color: rgb(43, 184, 43);
                        }

                    }

                    &.checkbox{
                        font-size: 1.5rem;
                        font-family: $font-family-primary;
                        position: relative;
                        color: $color-black-smooth;
                        cursor: pointer;
                        padding-left:3rem;
                        
                    }

                    &--checkbox,
                    input[type="checkbox"]{
                        position: absolute;
                        left: 0;
                        top: 0.2rem;
                        z-index: 100;
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;

                    }

                    &--value,
                    input{
                        width: 100%;
                        height: 3rem;
                        z-index: 100;
                        position: relative;
                        background: transparent;
                        font-family: $font-family-secondary;
                        box-sizing: border-box;

                        &.touched{
                            border-color: rgb(43, 184, 43);
                        }
                    }

                    &--radio{
                        display: inline-block;
                        font-size: 1.6rem;
                        font-family: $font-family-primary;
                        box-sizing: border-box;
                        padding-bottom: 2rem;

                        &--label{
                            position: relative;
                            margin-right: 3rem;
                            padding-left: 2.5rem;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                                /* Hide the browser's default radio button */
                                 input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                }
                                
                                /* Create a custom radio button */
                                .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 2rem;
                                    width: 2rem;
                                    background-color: #eee;
                                    border-radius: 50%;
                                }
                                
                                /* On mouse-over, add a grey background color */
                                :hover input ~ .checkmark {
                                    background-color: #ccc;
                                }
                                
                                /* When the radio button is checked, add a blue background */
                                 input:checked ~ .checkmark {
                                    background-color: rgb(43, 184, 43);
                                }
                                
                                /* Create the indicator (the dot/circle - hidden when not checked) */
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                                
                                /* Show the indicator (dot/circle) when checked */
                                 input:checked ~ .checkmark:after {
                                    display: block;
                                }
                                
                                /* Style the indicator (dot/circle) */
                                 .checkmark:after {
                                    top: 6px;
                                    left: 6px;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background: white;
                                }

                                &.male{
                                    color: rgb(43, 184, 43);
                                }
                                &.female{
                                    color: rgb(43, 184, 43);
                                }
                                &.other{
                                    color: rgb(43, 184, 43);
                                }

                        }
                    }
                    
                }

                .user-field{
                    width: 100%;
                    height: 6.5rem;
                    text-align: left;
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    transition: all 0.2s ease;

                    .password-show{
                        position: absolute;
                        right: 1.3rem;
                        top: 0rem;
                        width: 2rem;
                        cursor: pointer;
                        z-index: 1000;

                        img{
                            width: 3rem;
                        }

                    }


                    &--label{
                        color: $color-font;
                        position: absolute;
                        left: 1rem;
                        top:0.4rem;
                        font-size: 1.7rem;
                        font-family: $font-family-primary;
                        transition: all 0.2s ease;
                        z-index: 10;

                        &.touched{
                            transform: translate( -1.5rem , -2.5rem) scale(0.8);
                            color: rgb(43, 184, 43);
                        }

                    }

                    &--value,
                    input{
                        width: 100%;
                        height: 3rem;
                        border: 0.1rem solid rgb(105, 105, 105);
                        border-radius: 0.2rem;
                        outline: none;
                        padding-left: 0.5rem;
                        color: $color-font;
                        font-size: 1.6rem;
                        z-index: 100;
                        position: relative;
                        background: transparent;
                        font-family: $font-family-secondary;
                        box-sizing: border-box;

                        &.touched{
                            border-color: rgb(43, 184, 43);
                        }

                        &.error{
                            border-color: red;
                        }
                
                        &-error{
                            position: absolute;
                            color: red;
                            font-size: 1.2rem;
                            display: block;
                            font-family: $font-family-primary;
                        }
                    }
                }

                .form-button{
                    position: absolute;
                    left: 50%;
                    bottom: 3rem;
                    transform: translateX(-50%);
                    width: 100%;

                    button{
                        margin: 0 auto;
                        width: 12rem;
                        height: 4rem;
                        font-size: 2.6rem;
                        background: $color-white;
                        font-family: $font-family-primary;
                        color: $color-primary;
                        font-weight: 500;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        float: left;
                        position: relative;

                        &:hover{
                            transform: translateY(-0.3rem);
                            text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.486);
                        }

                        &:active{
                            transform: translateY(-0.2rem);
                        }

                        &.next{
                            float: right;
                            margin-right: 1.5rem;
                        }
                        &.previous{
                            float: left;
                            margin-left: 2rem;
                        }
                        &.submit{
                            float: right;
                            margin-right: 2rem;
                            color: white;
                            background: $color-primary;
                            border-radius: 0.5rem;
                            box-shadow: 0 0.2rem 0.3rem $color-shadow;
                        }
                    }
                }
            }
        }
    }

}