.welcome-page{
    width: 100%;
    height: 200vh;
    

    .header-container{
        background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba(86, 39, 117, 0.575)), url(../../images/ht2.jpg) ;
       
        background-size: cover;
        background-position: center; 
        height: 100vh;
        width: 100%;
        position: relative;
        display: inline-block;
        
        .left-floated-div{
            float: left;
            display: inline-block;
            width: 60%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            color: $color-white;

            .heading-container{
                width: 80%;
                height: auto;
                margin-left: 10%;
                margin-top: 150px;

                .heading-primary{
                    padding-top: 1rem;
                    font-size: 8rem;
                    display: block;
                    font-weight: 1000;
                    font-family: $font-family-secondary;
                    letter-spacing: 0.3rem;
                }
                .heading-secondary{
                    font-size: 3rem;
                    display: block;
                    font-weight: 500;
                    font-family: $font-family-primary;
                }
                .heading-tertiary{
                    font-size: 4rem;
                    display: block;
                    font-weight: 600;
                    font-family: $font-family-primary;
                    letter-spacing: 0.5rem;
                }
                .heading-about{
                    width: 80%;
                    padding-top: 4rem;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    display: block;
                    font-weight: 500;
                    color: rgb(209, 209, 209);
                    font-family: $font-family-primary;
                }
                .heading-login-button{
                    text-align: center;
                    padding-top: 0px;
                    margin-top: 3rem;
                    width: 35rem;
                    height: 6rem;
                    font-size: 2.5rem;
                    font-weight: 500;
                    font-family: $font-family-primary;
                    color: $color-primary;
                    background: $color-white;
                    outline: none;
                    border: none;
                    border-radius: 0.3rem;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.473);
                    cursor: pointer;

                    .right-arrow{
                        font-size: 3rem;
                        font-weight: 1000;
                        
                    }

                    &:hover{
                        box-shadow: 0 6px 5px rgba(0, 0, 0, 0.473);
                        transform: translateY(-2px);
                    }
                    &:active{
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
                        transform: translateY(-1px);
                    }
                }
            }
        }

        .right-floated-div{
            display: inline-block;
            width: 40%;
            height: 100%;
            font-size: 3rem;

            .signup-form-container{
                width: 90%;
                height: auto;
                margin-top: 20rem;
                margin-left: 5%;
                color: $color-white;
                text-align: center;
                text-align: center;

                

                .form-container{
                    width: 70%;
                    height: 40rem;
                    background: $color-white;
                    position: relative;
                    box-sizing: border-box;
                    padding-top: 12rem;
                    border-radius: 1rem;
                    box-shadow: 0 0.5rem 0.5rem $color-shadow;

                    .form-heading{
                        width: 90%;
                        height: 15rem;
                        background: $color-primary;
                        padding-top: 2rem;
                        position: absolute;
                        left: 50%;
                        top: -5rem;
                        transform: translateX(-50%);
                        border-radius: 0.5rem;
                        box-sizing: border-box;
                        box-shadow: 0 0.3rem 0.5rem rgba(73, 0, 82, 0.377);
    
                        &-primary{
                            display: block;
                            font-size: 4rem;
                            font-weight:1000;
                            font-family: $font-family-primary;
                            letter-spacing: 0.5rem;
                        }
                        &-secondary{
                            display: block;
                            padding-top: 1rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: $font-family-primary;
                        }

                        
                    }

                    .join-us{
                        width: 100%;
                        height: auto;
                        text-align: center;

                        .input-field{
                            width: 80%;
                            height: 9rem;
                            text-align: left;
                            margin: 0 auto;
                            display: block;

                            &--label{
                                color: $color-font;
                                text-align: left;
                                font-size: 2rem;
                                font-family: $font-family-primary;
                                display: block;
                                &.touched{
                                    color: $color-primary;
                                }
                            }


                            
                            &--value,
                            input{
                                width: 100%;
                                height: 3rem;
                                border: 0.1rem solid rgb(105, 105, 105);
                                border-radius: 0.2rem;
                                outline: none;
                                font-size: 1.6rem;
                                font-family: $font-family-primary;
                                padding-left: 0.5rem;
                                color: $color-font;

                                &.touched{
                                    border-color: $color-primary;
                                }

                                &.error{
                                    border-color: red;
                                }

                                &-error{
                                    color: red;
                                    font-size: 1.5rem;
                                    display: block;
                                    font-family: $font-family-primary;
                                }
                            }

                        }
                        button{
                            margin-top: 2rem;
                            width: 40%;
                            height: 4rem;
                            background: $color-white;
                            color: $color-primary;
                            border: 0.1rem solid $color-primary;
                            outline: none;
                            font-size: 2.4rem;
                            font-family: $font-family-primary;
                            font-weight: 500;
                            letter-spacing: 0.2rem;
                            cursor: pointer;
                            border-radius: 5rem;
                            transition: all 0.3s ease;

                            &:hover{
                                background: $color-primary;
                                color: $color-white;
                                transform: translateY(-0.2rem);
                                box-shadow: 0 0.2rem 0.5rem rgba(73, 0, 82, 0.377);

                            }
                            &:active{
                                transform: translateY(-0.1rem);
                            }

                        }
                        
                    }
                        
                }

            }

                
        }

        
    }
}