.welcome-page{
    width: 100%;
    height: auto;
    overflow: hidden;
    

    .header-container{
        background-image: linear-gradient(to right, rgba($color-black-smooth, 0.8), rgba($color-black-smooth, 0.575)), url(../../images/ht2.jpg) ;
        background-size: cover;
        background-position: center; 
        height: 100vh;
        width: 100%;
        position: relative;
        display: inline-block;
        
        .left-floated-div{
            float: left;
            display: inline-block;
            width: 60%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            color: $color-white;

            .heading-container{
                width: 80%;
                height: auto;
                margin-left: 10%;
                margin-top: 150px;

                .heading-primary{
                    padding-top: 1rem;
                    font-size: 8rem;
                    display: block;
                    font-weight: 1000;
                    font-family: $font-family-secondary;
                    letter-spacing: 0.3rem;
                }
                .heading-secondary{
                    font-size: 3rem;
                    display: block;
                    font-weight: 500;
                    font-family: $font-family-primary;
                }
                .heading-tertiary{
                    font-size: 4rem;
                    display: block;
                    font-weight: 600;
                    font-family: $font-family-primary;
                    letter-spacing: 0.5rem;
                }
                .heading-about{
                    width: 80%;
                    padding-top: 4rem;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    display: block;
                    font-weight: 500;
                    color: rgb(209, 209, 209);
                    font-family: $font-family-primary;
                }
                .heading-login-button{
                    text-align: center;
                    padding-top: 0px;
                    margin-top: 3rem;
                    width: 35rem;
                    height: 6rem;
                    font-size: 2.5rem;
                    font-weight: 500;
                    font-family: $font-family-primary;
                    color: $color-primary;
                    background: $color-white;
                    outline: none;
                    border: none;
                    border-radius: 0.3rem;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.473);
                    cursor: pointer;
                    transition: all 0.2s ease;

                    .right-arrow{
                        font-size: 3rem;
                        font-weight: 1000;
                        
                    }

                    &:hover{
                        box-shadow: 0 6px 5px rgba(0, 0, 0, 0.473);
                        transform: translateY(-2px);
                    }
                    &:active{
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.473);
                        transform: translateY(-1px);
                    }
                }
            }
        }

        .right-floated-div{
            display: inline-block;
            width: 40%;
            height: 100%;
            font-size: 3rem;

            .signup-form-container{
                width: 90%;
                height: auto;
                margin-top: 20rem;
                margin-left: 5%;
                color: $color-white;
                text-align: center;
                text-align: center;

                

                .form-container{
                    width: 70%;
                    height: 40rem;
                    background: $color-white;
                    position: relative;
                    box-sizing: border-box;
                    padding-top: 12rem;
                    border-radius: 1rem;
                    box-shadow: 0 0.5rem 0.5rem $color-shadow;

                    transition: all 3s ease-in;

                    .form-heading{
                        width: 90%;
                        height: 15rem;
                        background: $color-primary;
                        padding-top: 2rem;
                        position: absolute;
                        left: 50%;
                        top: -5rem;
                        transform: translateX(-50%);
                        border-radius: 0.5rem;
                        box-sizing: border-box;
                        box-shadow: 0 0.3rem 0.5rem rgba(73, 0, 82, 0.377);
    
                        &-primary{
                            display: block;
                            font-size: 4rem;
                            font-weight:1000;
                            font-family: $font-family-primary;
                            letter-spacing: 0.5rem;
                        }
                        &-secondary{
                            display: block;
                            padding-top: 1rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            font-family: $font-family-primary;
                        }

                        
                    }

                    .join-us{
                        width: 100%;
                        height: auto;
                        text-align: center;

                        .input-field{
                            width: 80%;
                            height: 9rem;
                            text-align: left;
                            margin: 0 auto;
                            display: block;

                            &--label{
                                color: $color-font;
                                text-align: left;
                                font-size: 2rem;
                                font-family: $font-family-primary;
                                display: block;
                                &.touched{
                                    color: $color-primary;
                                }
                            }


                            
                            &--value,
                            input{
                                width: 100%;
                                height: 3rem;
                                border: 0.1rem solid rgb(105, 105, 105);
                                border-radius: 0.2rem;
                                outline: none;
                                font-size: 1.6rem;
                                font-family: $font-family-primary;
                                padding-left: 0.5rem;
                                color: $color-font;

                                &.touched{
                                    border-color: $color-primary;
                                }

                                &.error{
                                    border-color: red;
                                }

                                &-error{
                                    color: red;
                                    font-size: 1.5rem;
                                    display: block;
                                    font-family: $font-family-primary;
                                }
                                
                            }
                            input[type=date]{
                                &::-webkit-datetime-edit-year-field:not([aria-valuenow]),
                                &::-webkit-datetime-edit-month-field:not([aria-valuenow]),
                                &::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
                                    color: transparent;
                                }
                            }

                        }
                        button{
                            margin-top: 2rem;
                            width: 40%;
                            height: 4rem;
                            background: $color-white;
                            color: $color-primary;
                            border: 0.1rem solid $color-primary;
                            outline: none;
                            font-size: 2.4rem;
                            font-family: $font-family-primary;
                            font-weight: 500;
                            letter-spacing: 0.2rem;
                            cursor: pointer;
                            border-radius: 5rem;
                            transition: all 0.3s ease;

                            &:hover{
                                background: $color-primary;
                                color: $color-white;
                                transform: translateY(-0.2rem);
                                box-shadow: 0 0.2rem 0.5rem rgba(73, 0, 82, 0.377);

                            }
                            &:active{
                                transform: translateY(-0.1rem);
                            }

                        }
                        
                    }
                    .auth-error{
                        position: relative;
                        width: 100%;
                        height: 2rem;
                        text-align: center;
                        font-size: 1.4rem;
                        font-family: $font-family-primary;
                        padding-top: 1.5rem;
                        color: rgb(255, 0, 0);
                    }

                    .loader{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.7rem;
                        transition: all 3s ease-in;

                        &-animation{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 30%;
                            height: 100%;
                            border-radius: 5rem;
                            background: $color-primary;
                            transition: all 1s ease;

                            animation: loading 1s infinite  ease;
                        }
                    }
                        
                }

            }

                
        }

        
    }

    .section_two{
        width: 100%;
        height: 100rem;
        margin: 0;
        padding-top: 4rem;
        position: relative;
        box-sizing: border-box;

        .section_two-content{
            width: 70%;
            height: 70rem;
            position: absolute;
            left: 0;
            top: 15rem;
            display: block;
            background: rgba($color-primary, 0.1);
            margin: 0 auto;

            img{
                position: absolute;
                width: 65rem;
                top: 6rem;
                left: 65%;
            }

            .section_two-heading{
                width: 40rem;
                height: auto;
                position: absolute;
                top: 18rem;
                left: 10%;

                &-primary{
                    font-size: 6rem;
                    font-weight: 600;
                    font-family: $font-family-primary;
                    color: $color-primary;
                    letter-spacing: 0.4rem;
                }
                .divider{
                    margin-top: 2rem;
                    display: block;
                    width: 10rem;
                    height: .8rem;
                    background: $color-primary;
                    border-radius: 10rem;
                }
                &-secondary{
                    margin-top: 2rem;
                    font-size: 3.5rem;
                    font-weight: 400;
                    font-family: $font-family-primary;
                    color: $color-black-smooth;
                
                }

            }
        }
    }

    .section_three{
        width: 100%;
        height: 75rem;
        position: relative;
        display: block;
        background: rgb(255, 226, 254);
        box-sizing: border-box;
        padding-top: 15rem;

        .cards{
            margin: 0 auto;
            max-width: 114rem;

            @include clearfix;

            .card-1-of-3{
                width: calc((100% - 2*#{$gutter-horizontal})/3);
                float: left;
                height: 40rem;
                text-align: center;
                position: relative;

                &:not(:last-child) {
                    margin-right: $gutter-horizontal;
                }

                .card-image{
                    width: 100%;
                    margin: 0 auto;
                    position: absolute;
                    top:0;
                    left: 0;
                }

                .card-heading{
                    position: relative;
                    font-family: $font-family-primary;
                    font-size: 3rem;
                    font-weight: 600;
                    color: $color-primary;
                    margin-top: 25rem;
                }

                .card-content{
                    position: relative;
                    font-family: $font-family-primary;
                    font-size: 2rem;
                    font-weight: 500;
                    color: $color-black-smooth;
                    margin-top: 2rem;
                }

                &:nth-child(1){
                    img{
                        width: 70%;
                        margin: 0 auto;
                    }
                }

                &:nth-child(2){
                    img{
                        width: 100%;
                        }
                }

                &:last-child{

                    img{
                    width: 60%;
                    }
                }

                

                
            }
        }
    }

    .section_four{
        width: 100%;
        height:80rem;
        position: relative;
        overflow: hidden;

        &-content{
            width: 100%;
            height: 100%;

            img{
                width: 60%;
                position: absolute;
                right: -20rem;
                top: 10rem;
            }
        }

        &-heading{
            position: absolute;
            top: 15rem;
            left: 10%;
            width: 30%;
            background: rgb(218, 245, 255);
            height: 50rem;
            padding-left: 3rem;

            &-primary{
                position: relative;
                font-family: $font-family-primary;
                font-size: 4rem;
                font-weight: 600;
                color: $color-primary;
                letter-spacing: 0.3rem;
                margin-top: 3rem;
            }

            &-secondary{
                width: 80%;
                position: relative;
                font-family: $font-family-primary;
                font-size: 3rem;
                font-weight: 500;
                color: $color-black-smooth;
                padding-top: 3rem;

            }

        }
    }

    .section_five{
        width: 100%;
        height: 60rem;
        background-image: linear-gradient(to top , rgb(248, 208, 255), white);
        position: relative;
        img{
            width: 70%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &-heading{
            padding-top: 4rem;
            padding-left: 6rem;
            font-size: 5rem;
            font-family: $font-family-primary;
            color: $color-primary;
            font-weight: 500;
            letter-spacing: 0.4rem;
        
            button{
                margin-top: 2rem;
                width: 15rem;
                height: 5rem;
                display: block;
                border: none;
                outline: none;
                background: $color-primary;
                color: $color-white;
                font-family: $font-family-primary;
                font-size: 2rem;
                border-radius: 5rem;

            }
        }
    }

    
}