
$color-primary: rgb(122, 55, 153);
$color-white: white;
$color-shadow: rgba(0, 0, 0, 0.534);
$color-font: rgb(49, 49, 49);


$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;