@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap');
// $color-primary: rgb(122, 55, 153);
// $color-primary: rgb(126, 1, 184);
$color-primary: rgb(1,119,180);
$color-black-smooth: #2a2a2aa4;
$color-white: white;
$color-shadow: rgba(0, 0, 0, 0.39);
$color-font: rgb(95, 95, 95);

$primary: #4F2EDC;
$primary-light: #947ADA;
$gray: #9A9999;

$gutter-horizontal: 7rem;


$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-crimpson: 'Lora', serif;
$font-libre: 'Libre Baskerville', serif;